@import "../common/index";
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $gray-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: $gray-dark;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(000, 0, 0, 0.4);
}
