@import "../common/index";

.menu-btn {
  @extend %flex-center;

  border-radius: 50px;
  cursor: pointer;
  &:hover {
    background-color: $gray-light;
  }

  @include size(40px);

  &__burger {
    @include size(18px, 1px);
    background-color: $black;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;

    &:after,
    &:before {
      @include size(18px, 1px);
      background-color: $black;
      border-radius: 5px;
      content: '';
      position: absolute;
      transition: all 0.2s ease-in-out;
    }
    &:after {
      content: '';
      transform: translateY(-5px);
    }
    &:before {
      content: '';
      transform: translateY(5px);
    }
    &_active {
      background-color: transparent;

      &:after {
        content: '';
        transform: rotate(-45deg);
      }
      &:before {
        content: '';
        transform: rotate(45deg);
      }
    }
  }
}
