@import "../common/index";

.left-menu {
  @extend %flex-space-between;

  overflow-y: auto;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  padding: 30px 30px 100px;
  background-color: $white;
  z-index: 10;
  box-shadow: rgb(255, 255, 255) 0 80px 0, rgba(9, 30, 66, 0.08) 5px -2px 7px;
}
