@import "common/index";
@import "components/index";
@import "pages/index";
@import "animate/animate";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-size: $font-size-main;
  background-color: $color-bgc;
}

* {
  box-sizing: border-box;
}

a {
  color: $black;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

textarea, input {
  font-family: 'Source Sans Pro', sans-serif;
  resize: none;

  &:focus {
    outline: none;
  }
}

input {
  border: none;
  padding: 0;
  margin: 0;
}
input::placeholder {
  color: $lilac;
}

.container {
  padding: 50px;
}

@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}

.router-link-active {
  background-color: $blue-dark;
  &:hover {
    background-color: $blue-dark;
  }
  .left-menu-item {
    &__icon,
    &__text {
      color: white;
    }
  }
}

.content {
  @include size(100%, 100vh);

  position: relative;
  width: 100%;
  padding: 80px 280px 0 130px;
  transition: 0.3s;
  &_active {
    padding: 80px 30px 0 130px;
  }
}


[data-tooltip] {
  position: relative;
  &::after {
    font-family: 'Source Sans Pro', sans-serif;
    top: 110%;
    left: 0;
    font-size: 12px;
    content: attr(data-tooltip);
    position: absolute;
    background: $blue-dark;
    color: $white;
    opacity: 0;
    padding: 5px 10px;
    pointer-events: none;
    border-radius: 5px;
    transition: 0.3s;
    white-space: nowrap;
  }
}
[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
}
.details-block {
  height: 100%;
  position: relative;
}
