@import "../common/index";

.button {
  display: flex;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  padding: 12px 15px;
  background-color: $color-main;
  font-size: $font-size-S;
  color: $white;
  margin-top: 17px;
  border-radius: 4px;
  font-weight: $weight-semi-bold;
  cursor: pointer;
  vertical-align: middle;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &__no-active {
    background-color: $gray;
    pointer-events: none;
    color: $gray-dark;
  }
  &:active {
    background-color: $blue-dark;
  }
}
