@import "../common/index";

.input {
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  padding: 12px 15px;
  background-color: $white;
  border: 1px solid $gray-border;
  transition: 0.2s;

  font-size: $font-size-XS;

  &:focus {
    background-color: $white;
    border-color: #B2B2B2;
  }
  &__invalid {
    color: $red;
    border-color: $red;

    &:focus {
      border-color: $red;
    }
  }
}

.input-title {
  font-size: $font-size-XS;
  font-weight: $weight-semi-bold;
  margin-bottom: 5px;
}
.password {
  position: relative;

  &__control {
    @extend %flex-center;

    position: absolute;
    top: 12px;
    right: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: $icon-size-M;
    color: $gray-dark;
    cursor: pointer;

    &_active {
      color: $black;
      &:after {
        content: '';
        @include size(1px, 17px);

        position: absolute;
        transform: rotate(45deg);
        background-color: $black;
      }
    }
  }
}
