@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?llcerv');
  src:  url('fonts/icomoon.eot?llcerv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?llcerv') format('truetype'),
    url('fonts/icomoon.woff?llcerv') format('woff'),
    url('fonts/icomoon.svg?llcerv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-learn:before {
  content: "\e91c";
}
.icon-logout:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e900";
}
.icon-money:before {
  content: "\e901";
}
.icon-language:before {
  content: "\e902";
}
.icon-language-2:before {
  content: "\e904";
}
.icon-comments:before {
  content: "\e906";
}
.icon-daily:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-view:before {
  content: "\e909";
}
.icon-right-arrow:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-home-2:before {
  content: "\e90d";
}
.icon-adventure:before {
  content: "\e90e";
}
.icon-right-arrow-2:before {
  content: "\e90f";
}
.icon-book:before {
  content: "\e910";
}
.icon-comment-2:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-achievement:before {
  content: "\e913";
}
.icon-awards:before {
  content: "\e914";
}
.icon-moon:before {
  content: "\e915";
}
.icon-moon-filled:before {
  content: "\e916";
}
.icon-habits:before {
  content: "\e917";
}
.icon-home-3:before {
  content: "\e918";
}
.icon-remove:before {
  content: "\e919";
}
.icon-cancel:before {
  content: "\e91a";
}
.icon-delete:before {
  content: "\e91b";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-login:before {
  content: "\e91e";
}
.icon-refresh:before {
  content: "\e91f";
}
.icon-gift:before {
  content: "\e920";
}
.icon-piggy-bank:before {
  content: "\e921";
}
.icon-fun:before {
  content: "\e923";
}
.icon-sport:before {
  content: "\e924";
}
.icon-travel:before {
  content: "\e925";
}
.icon-access:before {
  content: "\e926";
}
.icon-progress:before {
  content: "\e927";
}
.icon-progress-2:before {
  content: "\e928";
}
.icon-art:before {
  content: "\e929";
}
.icon-culture:before {
  content: "\e92a";
}
.icon-bell:before {
  content: "\e92b";
}
.icon-intellect:before {
  content: "\e92c";
}
.icon-strength:before {
  content: "\e92d";
}
.icon-humanity:before {
  content: "\e92e";
}
.icon-goal:before {
  content: "\e92f";
}
.icon-rocket:before {
  content: "\e930";
}
.icon-career:before {
  content: "\e931";
}
.icon-travel-2:before {
  content: "\e932";
}
.icon-star:before {
  content: "\e933";
}
.icon-star-filled:before {
  content: "\e934";
}
.icon-star-2:before {
  content: "\e935";
}
.icon-star-2-filled:before {
  content: "\e936";
}
.icon-fire:before {
  content: "\e937";
}
.icon-fire-filled:before {
  content: "\e938";
}
.icon-minus:before {
  content: "\e939";
}
.icon-plus-2:before {
  content: "\e93a";
}
.icon-more-2:before {
  content: "\e93b";
}
.icon-more-1:before {
  content: "\e93c";
}
.icon-more:before {
  content: "\e93d";
}
.icon-clapping:before {
  content: "\e93f";
}
.icon-target:before {
  content: "\e940";
}
.icon-check-2:before {
  content: "\e941";
}
.icon-select:before {
  content: "\e942";
}
.icon-warning:before {
  content: "\e943";
}
.icon-cook:before {
  content: "\e944";
}
.icon-mental:before {
  content: "\e945";
}
.icon-outdoor:before {
  content: "\e949";
}
.icon-rules:before {
  content: "\e94a";
}
.icon-clear:before {
  content: "\e94b";
}
.icon-charisma:before {
  content: "\e94c";
}
.icon-social:before {
  content: "\e94d";
}
.icon-user-2:before {
  content: "\e94e";
}
.icon-search-2:before {
  content: "\e94f";
}
.icon-swords:before {
  content: "\e951";
}
.icon-sword-2:before {
  content: "\e952";
}
.icon-list:before {
  content: "\e953";
}
.icon-daily-2:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e905";
}
.icon-right:before {
  content: "\e946";
}
.icon-edit:before {
  content: "\e948";
}
